<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
</head>
<body>
  Home page

  {% if logged %}
    <a href="/logout">déconnexion</a>
    <p>Bienvenue super vilain. Fait comme chez toi. eheh</p>
    <pre hidden><code>
# algorithme de la clé très secrète
DEBUT
    cle = 0
    POUR compteur DE 1 JUSQU'À 11 AVEC UN PAS DE 1
        SI compteur EST ÉGALE À 3
            clé = clé * compteur
        SINON SI compteur EST ÉGALE À 7
            clé = clé - 1
        SINON
            clé = clé + 2
    FIN POUR
FIN
    </code></pre>
  {% else %}
    <a href="/login">connexion</a>
    <p>Ahahah ! Tu pensais que je n'avais pas pensé à tout! J'ai mis un second mots de passe de sécurité.</p>
  {% endif %}
</body>
</html>