<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
</head>
<body>
  Page d'Accueil

  {% if logged %}
    <a href="/logout">Déconnexion</a>
    <p>Bienvenue super vilain. Fait comme chez toi. eheh</p>
    <a href="/secret-key">Clé secrète</a>
  {% else %}
    <a href="/login">connexion</a>
    <p>Ahahah ! Tu pensais que je n'avais pas pensé à tout! J'ai mis un second mots de passe de sécurité.</p>
  {% endif %}
</body>
</html>