{% include 'components/header.html' %}

{% if logged %}

<div class="text-center">
  <p class="fw-bold fs-2">Bienvenu super-vilain. Fais comme chez toi! eheh</p>
  <a href="/secret-key"><button type="button" class="btn btn-primary" style="margin: 0px 0px 20px 0px">Clé secrète</button></a>
</div>
<div class="text-center">
  <img src="{{ url_for("static", path="/cosy.jpg") }}" class="img-fluid" style="height: 67vh;">
</div>

{% else %}

<div class="text-center">
<p class="fw-bold fs-2">
  Ahahah ! Tu pensais que je n'avais pas pensé à tout! J'ai mis un second mots
  de passe de sécurité.
</p>
</div>
<div class="text-center">
<img src="{{ url_for("static", path="/bouncer.jpg") }}" class="img-fluid" style="height: 67vh;">
</div>

{% endif %}

{% include 'components/footer.html' %}
