<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Success</title>
</head>
<body>
  <a href="/">Accueil</a>
  {% if success %}
    <p>Bien joué à moi !!!</p>
    <p>Note à moi même : Attache toujours la clé des plans secrets à ta ceinture dans ton dos. Et si les moldus, je vous prend à essayer de voler mes plans, alors enferme les, pour qu'il ne puisse jamais les touver jusqu'à ce que tu les mettes à execution.</p>
  {% else %}
    <p>Tu as lammentablement échoué. AHah</p>
  {% endif %}
</body>
</html>